*{
    padding: 0; margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
main{
    background-color: #191919;
}
.main{
    width: 100%;
}
.main_top{
    width: 100%; 
    
}
.main_top{
    width: 100%; height:80vh;
    background-image: url(./../img/seat_info_img2.png.jpg);
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_top>h2{
    color: #fff;
    font-size: 6vw;
    font-weight: 700;
}
.seat{
    padding-top: 100px;
}
.seat>h3{
    font-size: 2.8vw;
    color:#fff;
    text-align: center;
}
.seat_img{
    width: 65%; 
    margin: 0 auto;
}
.seat_img>img{
    width: 100%;
}

.table_text{
    color: #ca0c22;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;

}
table{
    width:75%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
table td{
    color:#fff;
    
}
.main_table1{
   
    background-color: #ca0c22;
}
.main_table1>td{
    padding: 10px 20px;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 500;
    
}
.main_table2>th{
    color: #fff;
    font-size: 1.4vw;        
    padding: 10px;
    border-top: 1px solid #808080;
    
}
.main_table2>td{
   
    text-align: center;
    border-bottom: 1px solid #808080;
    padding: 10px;

}   
.main_table3>th{
    color: #fff;
    font-size: 1.8vw;        
    padding: 10px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
.main_table3>td{
   
    text-align: center;
    border-bottom: 1px solid #808080;
    padding: 10px;

}
.info_noti{
    padding-bottom: 200px;
}
.info_noti li{
    text-align: center;
    color: #808080;
    font-size: 12px;
}
.info_noti p{
    text-align: center;
    color: #808080;
    font-size: 12px;
    
}
.info_noti span{
    color:#ca0a22;
   
}


